1. to understand how much AirBNB homes are earning in certain time frames and areas. 
2. You can compare rates between the two cities, 
3. or try to understand if there is anything about the properties that helps you predict price. 
4. Can you find negative and positive reviews based on text? 

This dataset requires a number of skills beyond those shown thus far in the course, 
but if you would like a challenge, this will certainly test your ability to work with messy, real world data.

In [ ]:
import pandas as pd

In [18]:
df_listings = pd.read_csv('boston\listings.csv', sep=',')
df_calendar = pd.read_csv('boston\calendar.csv', sep=',')

In [19]:
df_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [44]:
df_listings.shape

(3585, 95)

In [20]:
df_calendar.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [27]:
df_calendar.dtypes

listing_id     int64
date          object
available     object
price         object
dtype: object

In [33]:
df_calendar[df_calendar['listing_id'] == 6976]

      listing_id        date available   price
730         6976  2017-05-12         t  $65.00
731         6976  2017-05-11         t  $65.00
732         6976  2017-05-10         t  $65.00
733         6976  2017-05-09         t  $65.00
734         6976  2017-05-08         t  $65.00
...          ...         ...       ...     ...
1090        6976  2016-09-10         t  $65.00
1091        6976  2016-09-09         f     NaN
1092        6976  2016-09-08         f     NaN
1093        6976  2016-09-07         f     NaN
1094        6976  2016-09-06         f     NaN

[365 rows x 4 columns]

In [40]:
len(df_calendar.listing_id.unique().tolist())

3585

In [42]:
len(df_listings.id.unique().tolist())

3585

In [32]:
df_calendar['date'].unique()

array(['2017-09-05', '2017-09-04', '2017-09-03', '2017-09-02',
       '2017-09-01', '2017-08-31', '2017-08-30', '2017-08-29',
       '2017-08-28', '2017-08-27', '2017-08-26', '2017-08-25',
       '2017-08-24', '2017-08-23', '2017-08-22', '2017-08-21',
       '2017-08-20', '2017-08-19', '2017-08-18', '2017-08-17',
       '2017-08-16', '2017-08-15', '2017-08-14', '2017-08-13',
       '2017-08-12', '2017-08-11', '2017-08-10', '2017-08-09',
       '2017-08-08', '2017-08-07', '2017-08-06', '2017-08-05',
       '2017-08-04', '2017-08-03', '2017-08-02', '2017-02-16',
       '2017-02-15', '2017-02-14', '2017-02-13', '2017-02-12',
       '2017-02-11', '2017-02-10', '2017-02-09', '2017-02-08',
       '2017-02-07', '2017-02-06', '2017-02-05', '2017-02-04',
       '2017-02-03', '2017-02-02', '2017-02-01', '2017-01-31',
       '2017-01-30', '2017-01-29', '2017-01-28', '2017-01-27',
       '2017-01-26', '2017-01-25', '2017-01-24', '2017-01-23',
       '2017-01-22', '2017-01-21', '2017-01-20', '2017-01-19',
       '2017-01-18', '2017-01-17', '2017-01-16', '2017-01-15',
       '2017-01-14', '2017-01-13', '2017-01-12', '2017-01-11',
       '2017-01-10', '2017-01-09', '2017-01-08', '2017-01-07',
       '2017-01-06', '2017-01-05', '2017-01-04', '2017-01-03',
       '2017-01-02', '2017-01-01', '2016-12-31', '2016-12-30',
       '2016-12-29', '2016-12-28', '2016-12-27', '2016-12-26',
       '2016-12-25', '2016-12-24', '2016-12-23', '2016-12-22',
       '2016-12-21', '2016-12-20', '2016-12-19', '2016-12-18',
       '2016-12-17', '2016-12-16', '2016-12-15', '2016-12-14',
       '2016-12-13', '2016-12-12', '2016-12-11', '2016-12-10',
       '2016-12-09', '2016-12-08', '2016-12-07', '2016-12-06',
       '2016-12-05', '2016-12-04', '2016-12-03', '2016-12-02',
       '2016-12-01', '2016-11-30', '2016-11-29', '2016-11-28',
       '2016-11-27', '2016-11-26', '2016-11-25', '2016-11-24',
       '2016-11-23', '2016-11-22', '2016-11-21', '2016-11-20',
       '2016-11-19', '2016-11-18', '2016-11-17', '2016-11-16',
       '2016-11-15', '2016-11-14', '2016-11-13', '2016-11-12',
       '2016-11-11', '2016-11-10', '2016-11-09', '2016-11-08',
       '2016-11-07', '2016-11-06', '2016-11-05', '2016-11-04',
       '2016-11-03', '2016-11-02', '2016-11-01', '2016-10-31',
       '2016-10-30', '2016-10-29', '2016-10-28', '2016-10-27',
       '2016-10-26', '2016-10-25', '2016-10-24', '2016-10-23',
       '2016-10-22', '2016-10-21', '2016-10-20', '2016-10-19',
       '2016-10-18', '2016-10-17', '2016-10-16', '2016-10-15',
       '2016-10-14', '2016-10-13', '2016-10-12', '2016-10-11',
       '2016-10-10', '2016-10-09', '2016-10-08', '2016-10-07',
       '2016-10-06', '2016-10-05', '2016-10-04', '2016-10-03',
       '2016-10-02', '2016-10-01', '2016-09-30', '2016-09-29',
       '2016-09-28', '2016-09-27', '2016-09-26', '2016-09-25',
       '2016-09-24', '2016-09-23', '2016-09-22', '2016-09-21',
       '2016-09-20', '2016-09-19', '2016-09-18', '2016-09-17',
       '2017-08-01', '2017-07-31', '2017-07-30', '2017-07-29',
       '2017-07-28', '2017-07-27', '2017-07-26', '2017-07-25',
       '2017-07-24', '2017-07-23', '2017-07-22', '2017-07-21',
       '2017-07-20', '2017-07-19', '2017-07-18', '2017-07-17',
       '2017-07-16', '2017-07-15', '2017-07-14', '2017-07-13',
       '2017-07-12', '2017-07-11', '2017-07-10', '2017-07-09',
       '2017-07-08', '2017-07-07', '2017-07-06', '2017-07-05',
       '2017-07-04', '2017-07-03', '2017-07-02', '2017-07-01',
       '2017-06-30', '2017-06-29', '2017-06-28', '2017-06-27',
       '2017-06-26', '2017-06-25', '2017-06-24', '2017-06-23',
       '2017-06-22', '2017-06-21', '2017-06-20', '2017-06-19',
       '2017-06-18', '2017-06-17', '2017-06-16', '2017-06-15',
       '2017-06-14', '2017-06-13', '2017-06-12', '2017-06-11',
       '2017-06-10', '2017-06-09', '2017-06-08', '2017-06-07',
       '2017-06-06', '2017-06-05', '2017-06-04', '2017-06-03',
       '2017-06-02', '2017-06-01', '2017-05-31', '2017-05-30',
       '2017-05-29', '2017-05-28', '2017-05-27', '2017-05-26',
       '2017-05-25', '2017-05-24', '2017-05-23', '2017-05-22',
       '2017-05-21', '2017-05-20', '2017-05-19', '2017-05-18',
       '2017-05-17', '2017-05-16', '2017-05-15', '2017-05-14',
       '2017-05-13', '2017-05-12', '2017-05-11', '2017-05-10',
       '2017-05-09', '2017-05-08', '2017-05-07', '2017-05-06',
       '2017-05-05', '2017-05-04', '2017-05-03', '2017-05-02',
       '2017-05-01', '2017-04-30', '2017-04-29', '2017-04-28',
       '2017-04-27', '2017-04-26', '2017-04-25', '2017-04-24',
       '2017-04-23', '2017-04-22', '2017-04-21', '2017-04-20',
       '2017-04-19', '2017-04-18', '2017-04-17', '2017-04-16',
       '2017-04-15', '2017-04-14', '2017-04-13', '2017-04-12',
       '2017-04-11', '2017-04-10', '2017-04-09', '2017-04-08',
       '2017-04-07', '2017-04-06', '2017-04-05', '2017-04-04',
       '2017-04-03', '2017-04-02', '2017-04-01', '2017-03-31',
       '2017-03-30', '2017-03-29', '2017-03-28', '2017-03-27',
       '2017-03-26', '2017-03-25', '2017-03-24', '2017-03-23',
       '2017-03-22', '2017-03-21', '2017-03-20', '2017-03-19',
       '2017-03-18', '2017-03-17', '2017-03-16', '2017-03-15',
       '2017-03-14', '2017-03-13', '2017-03-12', '2017-03-11',
       '2017-03-10', '2017-03-09', '2017-03-08', '2017-03-07',
       '2017-03-06', '2017-03-05', '2017-03-04', '2017-03-03',
       '2017-03-02', '2017-03-01', '2017-02-28', '2017-02-27',
       '2017-02-26', '2017-02-25', '2017-02-24', '2017-02-23',
       '2017-02-22', '2017-02-21', '2017-02-20', '2017-02-19',
       '2017-02-18', '2017-02-17', '2016-09-16', '2016-09-15',
       '2016-09-14', '2016-09-13', '2016-09-12', '2016-09-11',
       '2016-09-10', '2016-09-09', '2016-09-08', '2016-09-07',
       '2016-09-06'], dtype=object)

In [48]:
df_calendar.price.isnull().sum()

665853

In [50]:
df_calendar.price.notnull().sum()

643037

In [ ]:
df_calendar.mean(axis=0, skipna=True)